<template >

  <div class="wrapper">
    <div class="editors">
      <button @click="addItalic"><i class="fas fa-italic"></i></button>
      <button @click="addBold"><i class="fas fa-bold"></i></button>
      <button @click="addUnderline"><i class="fas fa-underline"></i></button>
    </div>
    <textarea class="editorArea" name="name"
     v-model="msg"
     :class="{italic: IsItalic, bold: IsBold, underline: IsUnderline}"
     ></textarea>
    <input class="submitBtn"
      type="button" name="btn"
      value="Submit"
      @click="submitMsg">

    <div class="output" @click="editMsg"
      ref="output">
     {{ output }}
    </div>
  </div>

</template>
<script>
export default {
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      IsItalic: false,
      IsBold: false,
      IsUnderline: false,
      isSubmit: false,
      output: '',
    }
  },
  methods: {
    addItalic(){
      this.IsItalic = !this.IsItalic;
    },
    addBold(){
      this.IsBold = !this.IsBold;
    },
    addUnderline(){
      this.IsUnderline = !this.IsUnderline;
    },
    submitMsg(){
      if(this.msg.match(/\w/)){
        this.isSubmit = !this.isSubmit;
        this.output = this.msg;
        this.msg = '';
        if(this.IsItalic == true){
          this.$refs.output.style.fontStyle = "italic";
        }
        if(this.IsBold == true){
          this.$refs.output.style.fontWeight = "bold";
        }
        if(this.IsUnderline == true){
          this.$refs.output.style.textDecoration = "underline";
        }
      }
    },
    editMsg(){
      this.$refs.output.style.fontStyle = null;
      this.$refs.output.style.fontWeight = null;
      this.$refs.output.style.textDecoration = null;
      if(this.output != ''){
        this.msg = this.output;
        this.output = '';
      }
    },
  }
}
</script>
<style >
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .editorArea{
    width: 600px;
    height: 100px;
  }
  .editors{
    display: flex;
    justify-content: space-around;
  }
  .editors>button{
    padding: 5px 15px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  .editors>button:hover{
    background-color: #333;
    color: #fff;
  }
  .italic{
    font-style: italic;
  }
  .bold{
    font-weight: bold;
  }
  .underline{
    text-decoration: underline;
  }
  .submitBtn{
    margin: 10px;
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .submitBtn:hover{
    background-color: #333;
    color: #fff;
  }
  .output{
    border: 1px solid #ccc;
    padding: 10px 0;
    width: 600px;
  }
</style>
