<template>
  <div id="app">
    <my-editor></my-editor>
  </div>
</template>

<script>
import MyEditor from './components/editor'

export default {
  name: 'app',
  data () {
    return {

    }
  },
  components: {
    MyEditor
  }
}
</script>

<style>

</style>
